body {
    text-align: center;
}

#formulario {
    max-width: 400px;
    border: 1px solid black;
    margin: 30px auto;
}

#formulario input {
    width: 90%;
    height: 20px;
}

#formulario label, input{
    display: block;
    text-align: start;
    margin-left: 5px;
    margin-top: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#formulario button {
    background: rgba(0, 128, 0, 0.815);
    height: 2rem;
    width: 4rem;
    margin: 10px;
    cursor: pointer;
    border-radius: 3px;
}

